﻿@model IEnumerable<TDD.Model.Product>

@{
    ViewBag.Title = "Wishlist";
}

<h2>Wishlist</h2>

<table id="products-list">
@foreach (var p in Model)
{
    <tr>
        <td>@p.Id</td>
        <td>@p.Name</td>
    </tr>    
}
</table>
